.calculator-container {
  background-color: red;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.calculator-title {
  font-size: 30px;
  text-align: center;
}

.calculator-inputs,
.calculator-buttons, 
.calculator-result-reset{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.calculator-buttons, 
.calculator-result-reset {
  margin-top: 15px;
}

.calculator-result-reset {
  margin-bottom: 20px;
} 

#result {
  width: 60%;
}